<div id="timeline-content">
    <h1>Timeline</h1>
  
    <ul class="timeline">
      <li class="event">
        <div class="date">20/05/2012</div>
        <h3>
            <i class="fas fa-vial"></i> 
            Versão de teste 
        </h3>
        <app-chip-store [isGoogle]='true'>1.0.0</app-chip-store>
        <app-chip-store [isApple]='true'>1.0.0</app-chip-store>
        
        <h4>Previstos</h4>
        <ul>
            <li><i class="fas fa-plug"></i> Melhor precisão na busca dos endereços</li>
            <li><i class="fas fa-bug"></i> Formulário no modo escuro</li>
        </ul>
      </li>

      <li class="event">
        <div class="date">15/05/2012</div>
        <h3>
            <i class="fas fa-vial"></i> 
            Build 3.0.1
        </h3>
        <app-chip-store [isGoogle]='true'>3.0.1</app-chip-store>
        <app-chip-store [isApple]='true'>3.0.1.54</app-chip-store>
        
        <h4>Previstos</h4>
        <ul>
            <li><i class="fas fa-plug"></i> Melhor precisão na busca dos endereços</li>
            <li><i class="fas fa-bug"></i> Formulário no modo escuro</li>
        </ul>
      </li>
    </ul>
  </div>